body
{
    text-align:center;
    font-family: Arial;
    color: blue;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 10%;

}
#container
{
    width: 70%;
    text-align: left;
    margin: 0 auto;
    border: 1px solid black;

}
#post
{
    padding: 1em;


}
#container h1
{
    font-size: 20px;
}
#header
{
    background: mediumorchid;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}